<a href="https://colab.research.google.com/github/kaiketsu927/Deep-Learning/blob/main/%E6%B7%B1%E5%BA%A6%E5%AD%B8%E7%BF%92DNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Basic packages always been used
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Data scaling
from sklearn.preprocessing import MinMaxScaler

# Function for spilting training & testing data set
from sklearn.model_selection import train_test_split

# Tensorflow sequential models
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import backend as clear
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout
from tensorflow.keras.layers import BatchNormalization
from tensorflow.keras.optimizers import SGD
from tensorflow.keras.optimizers import Adam

# Functions for evaluation
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay

In [ ]:
# 讀取csv
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Titanic_assignment_data_14 1.csv')
df

In [ ]:
df.iloc[:,7] = df.iloc[:,7].astype(str)
df.describe(include="all")

In [ ]:
# 類別變量統計
print(df[['Pclass']].value_counts(sort=True))
print('+-----------------------+')
print(df[['Sex']].value_counts(sort=True))
print('+-----------------------+')
print(df[['Embarked']].value_counts(sort=True))
print('+-----------------------+')
print(df[['Survived']].value_counts(sort=True))

In [ ]:
# 連續變量統計
df[['Age','SibSp','Parch','Fare']].describe()
#df.loc[:,['Age','SibSp','Parch','Fare']].describe()
#df.iloc[:,[2,3,4,5]].describe()

              Age        SibSp        Parch         Fare
count  804.000000  1047.000000  1047.000000  1046.000000
mean    29.912935     0.499522     0.406877    33.728644
std     14.017597     1.029094     0.893288    52.904891
min      1.000000     0.000000     0.000000     0.000000
25%     21.000000     0.000000     0.000000     7.895800
50%     28.000000     0.000000     0.000000    14.458300
75%     39.000000     1.000000     0.000000    31.387500
max     76.000000     8.000000     9.000000   512.329200

In [ ]:
# 去空值
new_df = df.dropna(axis=0,how="any")

In [ ]:
# one hot encode
dummied_df=pd.get_dummies(new_df,columns=['Pclass','Sex','Embarked','Survived'])
dummied_df

In [ ]:
# MinMax Scaler
MMscaler=MinMaxScaler(feature_range=(0, 1))
scaling=MMscaler.fit_transform(dummied_df)
scaled_data=pd.DataFrame(data=scaling)
scaled_data.columns=['Age','SibsSp','Parch','Fare','Pclass_1','Pclass_2','Pclass_3','Sex_female','Sex_male','Embarked_C','Embarked_Q','Embarked_S','Survived_no','Survived_yes']
scaled_data.head()

In [ ]:
#set x (make prediction) with minimax
x=scaled_data.drop(['Survived_no','Survived_yes'],axis=1).copy()

#set y (want to predict)
y=scaled_data['Survived_yes'].copy()
y=y.astype(int)

In [ ]:
#prepare dataset with scaling
#Split the data (split into 80% training data & 20% testing data) (lock seed)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=4)

from collections import Counter
print('scaled_y_train:',Counter(y_train))
print('------------------------------------')
print('scaled_y_test :',Counter(y_test))

In [ ]:
def dense_generator(model_name,layers,last_layer_neurons,activation_fun="relu"):
	n=last_layer_neurons
	neurons = n
	for i in range(0,layers):
		neurons= neurons*2
		model_name.add(Dense(units=neurons, activation=activation_fun))

In [ ]:
model=Sequential()

# 6.2 Add input layer & first hidden layer
model.add(Dense(units=24, input_dim=12, activation='relu'))
# add 5 dense layers
dense_generator(model,5,6)
# add dropout layer
model.add(Dropout(rate=0.5))

# add 2 more dense layers
dense_generator(model,2,192)

# add regularization layer optional
model.add(BatchNormalization())
# 6.4 Add output layer
model.add(Dense(units=1, activation='sigmoid'))

# 6.5 Compile the defined Net
opt=SGD(learning_rate=0.05,momentum=0.5)
#opt=Adam(learning_rate=0.001,beta_1=0.9)
model.compile(loss='binary_crossentropy', optimizer=opt, metrics=['accuracy'])

In [ ]:
# Important
x_training,x_validation,y_training,y_validation=train_test_split(x_train,y_train,test_size=0.2,random_state=24)

# 7.1 Store in the history for more useful information
history=model.fit(x_training, y_training, epochs=100, batch_size=64,verbose=1,validation_data=(x_validation, y_validation))

# check the dictionary keys
modeling_result = history.history
modeling_result.keys()

# 7.2 Plot the history of training and validation(loss)
training_loss_values=modeling_result['loss']
val_loss_values=modeling_result['val_loss']
epochs=range(1,len(training_loss_values)+1)

plt.figure(figsize=(12,10),dpi=300)
plt.xlabel('Epochs',fontsize=20)
plt.ylabel('Loss',fontsize=20)
plt.title('Titanic ANN training & validation of Loss result ',fontsize=20)

plt.plot(epochs, training_loss_values,marker='o',label='training Loss')
plt.plot(epochs, val_loss_values,marker='o',label='validation Loss')
plt.legend(loc=1,fontsize=24)
plt.show()

In [ ]:

# 7.2 Plot the history of training and validation
training_acc_values=modeling_result['accuracy']
val_acc_values=modeling_result['val_accuracy']
epochs=range(1,len(training_acc_values)+1)

plt.figure(figsize=(12,10), dpi=300)
plt.xlabel('Epochs',fontsize=20)
plt.ylabel('Accuracy',fontsize=20)
plt.title('Titanic ANN training & validation of accuracy result ',fontsize=20)

plt.plot(epochs, training_acc_values,marker='o',label='training ACC')
plt.plot(epochs, val_acc_values,marker='o',label='validation ACC')
plt.legend(loc=4,fontsize=24)
plt.show()